/*style css*/

/* color pallete ------
#32292F rgb(50,41,47) JetPurple
#B8C4BB rgb(184,196,187) FadeBlue 
#CA3CFF rgb(202,60,255) Power Purple
#F0F7F4 rgb(240,247,244) Bluewhite
#70ABAF rgb(112,171,175) GreyBlue
*/

/*----------- font
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; ---*/


/* ----------- Media queries -------------
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/* Global settings*/

* {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

a.alert-link{
    text-decoration: none;
}

blockquote {
    font-style: italic;
    font-weight:500;
}


h2, .fatFont {
    text-transform: uppercase;
    margin-top: 2em
}

.head2 {
    text-align: center;
    border-bottom: 2px solid grey;
    margin-bottom: 1.5rem;
}

h3.head2 {
    border-bottom: none;
}

.circleParagraph {
    font-size: 1.2em;
}

.fatFont {
     font-weight:600 !important;
}
.carousel-caption h2 {
        text-shadow: 1px 1px 10px black;
        font-size: 1em;
    }

.jumbotron {
    padding: 1em !important;
    border: 0 !important;
}

.padding {
    padding-bottom: 2rem;
}

.welcome hr, #explore {
    border-top: 2px solid #b4b4b4;
}

.teacherPara {
    font-size: 1.2em;
}

b {
    color: red;
}

em, em.black {
    color: black;
    font-weight: 600;
}

/*-----------------Button--------*/
.btn-primary {
    
    background-color: #70ABAF !important;
    border: 1px solid #B8C4BB !important;
}

.btn-primary:hover {
    background-color: #F0F7F4 !important;
    border: 1px solid #F0F7F4 !important;
    color: black !important;
}

a.btn {
    margin-top: 10%;
}

/*--------------Images-----------------*/
.rnd-img {
    width: 10em;
    border-radius: 50%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.col-lg-6 img {
    margin-top: 2em;
    border-radius: 3px;
    border: 0.5em solid grey;
}

.img-fluid {
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 3px;
    border: .4em solid grey;
}
#libary {
    background-image: url("../images/mobile/background/purple-lib.png");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;     
}
#kids {
    background-image: url("../images/mobile/background/yellow-kid.png");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

.galleryParent {
    margin: 2em auto;
}

#VR {
    background-image: url("../images/mobile/background/vrbackground.png");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    margin:0 -15px;
}

#ant {
    background-image: url("../images/mobile/background/ant.png");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}

#cosmo {
    background-image: url("../images/mobile/background/celso-405219.png.png");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}

#nightMammot {
    background-image: url("../images/mobile/background/mammotDesktop.png");
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}
/*----------NavBar-----------*/

.navbar h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    
}

.navbar {
    padding: .8rem !important;
}

.navbar-nav li {
    padding-right: 1rem;
}

.nav-link {
    font-size: 1.1em;
}

.carousel-caption {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.location {
    width: 100%;
}

.visitList {
    margin-top: 2em;
}

/* ---------------Footer ----------*/

footer {
    background-color: #32292F;
    color: #F0F7F4;
    padding-top: 2em;
}

hr.ft-light {
    border-top: 1px solid #F0F7F4;
}

@media only screen and (min-width: 650px) {
    
/*--------Header carousel-----------*/
    
    .carousel-caption h1 {
        font-family: 'Merriweather', serif; 
        font-size: 300%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px black;
    
    }

    .carousel-caption h2 {
        font-size: 120%;
    }
    

    
/*------Background Image section---*/
    
    #museum {
        background-image: url("../images/mobile/background/blueMuseum.png");
        background-repeat: no-repeat;
        height: 50vh;
        background-attachment: fixed;
        background-size: cover;
        
}
    
/*-----------horisontal rule--------*/ 
    
    .my-4 {
        display:none;
    }
    
/*--------Image Section---------*/
    
    .galleryMobile {
        display:none;
    }
    
    .galleryDesktop {
        border-radius: 3px;
        border: 2em solid grey; 
    }
    
    #VR {
        background-image: url("../images/mobile/background/vrbackgroundDesktop.png");
        background-repeat: no-repeat;
        height: 50vh;
        background-size: cover;
        background-attachment: fixed;
        margin:0 -15px;
    }
    
    
    .img-phone-header {
        display:none;
    }
    
/*----Google Maps ------*/
    
    .location {
        border: 10px solid grey;
        height: 600px;
    }
    
    .visitList {
        margin-top: 6em;
    }
}

/*--------------------------*/
@media only screen and (max-width: 649px) {
    
    /*Header carousel*/
    
    .carousel-caption h1 {
        font-family: 'Merriweather', serif; 
        font-size: 150%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px black;
    }

    .carousel-caption h2 {
        font-size: 80%;
    }
    
    .carousel-caption button {
        font-size: .8em;  
    }
/*background image section*/
    
    #kids {
        background-image: url("../images/mobile/background/yellow-kid.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    
    #libary {
        background-image: url("../images/mobile/background/purple-lib.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    
    #ant {
        background-image: url("../images/mobile/background/antCell.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }

    #cosmo {
        background-image: url("../images/mobile/background/celsoCell.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
/*Images section*/
    
    .galleryDesktop {
        display:none;
    }
    
    #museum {
        background-image: url("../images/mobile/background/blueMuseumCell.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    
    #exploreImg {
        background-size:4.5em;
    }
    
    #VR {
        background-image: url("../images/mobile/background/vrbackgroundCell.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        margin:0 -15px;
    }
    
    #nightMammot {
        background-image: url("../images/mobile/background/mammotCell.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
    }
    
    .img-desk-header {
        display:none;
    }
}
/*-----------------------------*/
@media only screen and (max-width: 387px){
    
    /*Header carousel*/
    .carousel-caption h1 {
        font-family: 'Merriweather', serif; 
        font-size: 120%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px black;
    
    }
    
    p {
        font-size: 1.1em
    }
    
    h2.fatFont {
        font-size: 1.4em;
    }
    .carousel-caption h2 {
        display:none;
    
    }
    
    .carousel-caption button {
        font-size: .8em;
    }
    
    .carousel-caption {
        position:absolute;
        top: 30%;
    }
    h1.fatFont {
        font-size: 2em;
    }
    
/*---background image section*-----*/
    
    #kids {
        background-image: url("../images/mobile/background/yellow-kid.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
    }
    
    #libary {
        background-image: url("../images/mobile/background/purple-lib.png");
        background-repeat: no-repeat;
        height: 60vh;
        background-size:cover ;
        background-attachment:scroll;
        background-position: center;
    }
    
    #cosmo {
        height: 35vh;
    }
    
    #ant {
        height: 35vh;
    }
}


@media only screen and (max-width: 991px){
    
    #intern {
        background-image: none;   
    }
}
    
/* super size screens, 1920 format */
@media only screen and (min-width: 992px) {
    
    #VR {
        background-image: url("../images/mobile/background/vrbackgroundDesktop.png");
        background-repeat: no-repeat;
        height: 50vh;
        background-size: cover;
        background-color:#CA3CFF;
        background-attachment: fixed;
        margin:0 -15px;
    }
}
@media only screen and (min-width: 1370px) {
    h1.fatFont {
        font-size: 5em;
    }
    
    h2.fatFont {
        font-size: 3em;
    }
    
    .col-md-4 h5 {
        font-size: 2.5em;
    }
    
    .carousel-caption button {
        margin-top: 1em;
    
    }
    
    .nav-link {
    font-size: 1.7em;
}
}
@media only screen and (min-width: 1441px) {  
    
    
    .carousel-caption button {
        margin-top: 1em;
    
    }
}

/*site not intended to show this small*/
@media only screen and (max-width: 300px){
    * {
        display: none;
    }
}

/*---firefox bug fix ----------*/
    .carousel-item {
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        -webkit-backface-visibility: visible; backface-visibility: visible;   
}